.App {
  text-align: center;
}
body{
  height: 100%;
}
.App-header {
  background-color: #ff9af7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginlabel{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: underline;
}

.signuplabel{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
}

.name{
  font-size: xxx-large;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.loginContainer{
  background-color:rgb(93, 117, 197);
  color: white;
}

.navBar{
  background-color: rgb(93, 117, 197);
  color: white;
}

.calendar{
  margin: 4px 100px;
}

.title {
  margin-top: 2%;
  margin-left: 1%;
}

.input{
  max-width: 50px;
}

.label1{
  color: white;
  font-size: large;
}  


.fc-daygrid-day {
  overflow: hidden;
}
.modalError{
  background-color: red;
}